* {
    margin: 0 auto;
}

#cor-fundo {
    background: rgb(4,2,43);
    background: radial-gradient(circle, rgba(4,2,43,1) 0%, rgba(0,0,0,1) 100%);
}

.container {
    margin: 10px;
    color: rgba(240, 248, 255, 0.952);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.bloco-1 {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 2px 1px rgba(151, 151, 151, 0.2);
    background-color: rgba(255, 228, 196, 0.11);
    font-size: 18px;
    color: rgba(0, 245, 253, 0.322);
    border-color: rgb(255, 228, 196);
    border-radius: 5%;
    border-style: none;
    align-items: center;
}

.bloco-1:hover {
    transition: .4s;
    background-color: rgba(240, 248, 255, 0.11);
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }

}

.foto {
    display: block;
    border-style: solid;
    border-color: rgb(28, 114, 189);
    box-shadow: 2px 2px 2px 1px rgba(151, 151, 151, 0.2);
    border-radius: 5%;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

#p1 {
    margin-bottom: 0;
    margin: 5px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#p2 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#p3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#p4 {
    margin: 10px;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    color: rgb(250, 239, 215);
    text-align: center;
}

.logos {
    margin: 10px;
    margin-bottom: -8px;
    width: 27px;
}